div{
    height: 200px;
    border: 3px solid red;
}
#uno{
    background-color: grey;
    position: static;
} 
 
#dos{
    background-color: orange;
    position: relative;
    top: 50px;
    left: 100px;
}

#tres{
    background-color: lime;
    position: fixed;
    width: 25%;
    bottom: 50px;
    right: 100px;    
} 
#cuatro{
    z-index: 2;
   /*  position: relative; */
} 

#cinco{
    background-color: yellow;
    width: 25%;
    top: 15px;
    left: 15px;
    position: absolute; }
 