body {
    background-color: #326273;
}

h1 {
    color: rgb(227,151,116);
}

h2 {
    color: #EEEEEE;
}

li {
    color: greenyellow;
}

#bordeado {
    border: 3px solid red;
}

.aloha {
    background-color: #BFAB25;
}

input {
    border: 2px dashed lime;
}

div p {
    font-size: 300%;
}


input[type=text] {
    background-color: yellow;
}

a:visited {
    color: #7FFF00;
}

p:nth-of-type(3) {
    background: blue;
}

div:nth-last-of-type(3) p:nth-last-of-type(2) {
    border: 4px solid #FFFFFF;
}

div:nth-last-of-type(3) span {
    background-color: #FFFFFF;
}

:checked {
    margin-left: 60px;
}

label {
    text-transform: uppercase;
}

/*primera letra del elemento con id 'ultimo' tenga un font-size de 400% y background rojo*/

#ultimo:first-letter {
    font-size: 400%;
    background-color: red; 
}

.button:hover {
    background-color: red;
}

.button:active {
    background-color: yellow;
}

.button:focus {
    border: 40px green;
}