#uno {
    height: 200px;
    border: solid red 3px;
    background-color: grey;
    position: static;
}

#dos {
    height: 200px;
    border: solid red 3px;
    background-color: orange;
    position: relative;
    top: 50px;
    left: 100px;

}

#tres {
    height: 200px;
    border: solid red 3px;
    background-color: lime;
    position: fixed;
    width: 25%;
    bottom: 50px;
    right: 100px;
    z-index: 2;
}

#cuatro {
    height: 200px;
    border: solid red 3px;


}

#cinco {
    background-color: yellow;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 15px;
    left: 15px;

}

