
body { font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(190, 62, 62);
        text-align: center;
        background-color: rgb(44, 34, 53);
        font-size: 23px;

}

.izquierda{
    text-align: left;
}

.izquierdaColor{
    text-align: left;
    color: white
}

.derechaColor{
    text-align: right;
    color: white;
    position: absolute;
    top:-10px;
    right: 0px;
}


p {
    background-color: silver;
    
}