body {
    background-color: lightgrey;
    }

    h1 {
        color:#BA521F;
    }

    h2 {
        color:rgb(120,234,88);
    }

    h3 {
        color:red;background-color:green
    }

    img {
        height:100x;width:100px;
    }
      