div{

    height: 200px;
    border:3px solid red;
}
#uno{
   
    background-color: gray;
    position:static;
}
#dos{

    background-color: orange;
    position:relative;
    top:50px;
    left:100px;
}
#tres{

    background-color:lime;
    position:fixed;
    width: 25% ;
    bottom: 50px;
    right: 100px;
    z-index: 2;
}
#cuatro{
    background-color:orchid;
    position:relative;
}
#cinco{

    background-color:yellow;
    width:25%;
    height: 25%;
    top:10px;
    right:10px;
  position: absolute;

}